{{>layouts/header}} <!-- 헤더 템플릿 삽입 -->
    <!--content -->

    <div class="bg-dark text-white p-5"> <!-- 디자인 적용 -->
        <h1>{{username}}님, 반갑습니다!</h1> <!-- 이름을 변수로 변경 -->
    </div>

{{>layouts/footer}} <!-- 푸터 템플릿 삽입 -->

