{{>layouts/header}} <!-- 헤더 템플릿 삽입 -->

    <div class="bg-dark text-white p-5"> <!-- 디자인 적용 -->
        <!-- 이름 부분을 변수로 변경 -->
        <h1>{{nickname}}님, 다음에 또 만나요!</h1>
    </div>

{{>layouts/footer}} <!-- 푸터 템플릿 삽입 -->